//HEADER-------------------------------------------------
ion-header{
    background-color: var(--ion-color-primary);
    color: black;
    justify-items: center;
    align-items: center;
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
  
  
  .headercontainer{
    width: 100%;
    height: 60px;
    display: flex;
  }
  
  
  .back{
      width: 20%;
      height: 40px;   
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .headertittle{
   margin-top: 20px;
    width: 60%;
    height: 40px;
    text-align: center;
    color: black;
  }
  
  .headericon{
    width: 20%;
    height: 60px;
    text-align: center;
    color: black;
  }
  
  .icono{
    margin-top: 10px;
    width: 60%;
    height: 60%;
    color: black;
  }
  
  .iconoback{
    margin-top: 10px;
    width: 80%;
    height: 80%;
    color: black;
  }
  //--------------------------------------------------
  
  ion-content {
    --background: var(--ion-color-secundary);
   //--background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
   --ion-safe-area-top: 100px;
   overflow-y: scroll !important;
  }
  
  .todo{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
     // justify-content: center;
      align-items: center;
     // background-color: blue;
  }
  
  .crear_comunicado{
    width: 80%;
    height: auto;
    background-color:  rgba(229, 223, 236, 0.582);
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: solid black 1px;
  }
  
  .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .ver_comunicados{
    margin-top: 40px;
    width: 80%;
    height: auto;
    background-color:  rgba(175, 130, 226, 0.582);
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: solid black 1px;
  
  }
  
  .trash-icon{
    width: 30px;
    height: 30px;
    // position: relative;
    // top: 10%;
    // left: 95%;
  }
  
  
  .tituloavisos{
      font-size: 30px;
      display: flex;
      //background-color: blue;
      justify-content: center;
    }
  
    .formulario{
      width: 80%;
      height: 70px;
      margin-top: 10px;
      align-self: center;
      position: relative;
      left: 10%;
      border-radius: 20px;
  }
  
  .formulariofinal{
      width: 80%;
      height: 200px;
      margin-top: 10px;
      align-self: center;
      position: relative;
      left: 10%;
      border-radius: 20px;
  }
  
  .divform{
      margin-top: 10px;
      width: 100%;
      height: 100%;
      display: block;
      align-self: center;
      text-align: center;
      //background-color: yellow;
  }
  
  .submit{
    margin-bottom: 30px;
      width: 120px;
      height: 40px; //100vh o 100vw wiewheight o viewwidth
      color: white;
      max-width: 300px;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      background-color: rgb(112, 51, 204);;
      border: 1px solid black;
      border-radius: 40px;
      box-shadow: 5 5px black ;
    }
    
    .submit:active {
      background-color: #374d83  ;
      box-shadow: 0 5px #666;
      transform: translateY(6px);
    }
  
    .avisos{
      font-size: 20px;
      display: flex;
      align-self: center;
      text-align: center;
      //background-color: blue;
      justify-content: center;
      position: relative;
      left: 5%;
      width: 90%;
  } 
  
  //--------------------------------------------------------------------

  .todo{
      display: flex;
      //justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 90%;
      width: 100%;
  }
  .atencion{
    display: flex;
   // border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 4.5vw;
    height: 20px;
    //background-color: rebeccapurple;
}

.titulo{
    //background-color: red;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.descripcion{
//background-color: pink;
display: flex;
justify-content: center;
height: 50px;
width: 80%;
align-items: center;
text-align: center;
margin-top: 13px;
}

.boton{
    display: inline-block;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(255, 153,81);
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0 3px black ;
}

.boton:active {
    background-color: #BB7D00  ;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }


.botonuno{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 10%;
    //background-color: aliceblue
}

.botondos{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 10%;
    //background-color: aqua;
}

ion-content{
    border: black solid 5px;
    background-color: white;
}