<ion-content>
  <div class="headercontainer">
    <div class="back">
      <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
    </div>
    <div class="headertittle">
    </div>
  </div>

  <div class="todo">
  <div class="titulo">
    <h1 class="atencion"><strong>EMERGENCIA 24/7</strong></h1>
  </div>
    <div class="descripcion" style="margin-top: 10px;">
     Estas son las lineas de emergencia de Soluciones Verticales SAS.
     </div> 
     <div class="descripcion">
      Atención 24/7 al instante.
      </div> 
      <div class="descripcion">
       A nivel nacional
        </div> 
     <div class="botonuno">
      <button class="boton" (click)="llamar('018000519221')">018000519221</button>
    </div>
    <div class="botondos">
      <button class="boton" (click)="llamar('3176398568')">3176398568</button>
    </div>
 </div>   

</ion-content>
