//HEADER-------------------------------------------------
ion-header{
  background-color: var(--ion-color-primary);
  color: black;
  justify-items: center;
  align-items: center;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }


.headercontainer{
  width: 100%;
  height: 60px;
  display: flex;
  color: black;
}


.back{
    width: 20%;
    height: 40px;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.headertittle{
 margin-top: 20px;
  width: 60%;
  height: 40px;
  text-align: center;
  color: black;
}

.headericon{
  width: 20%;
  height: 60px;
  text-align: center;
  color: black;
}

.icono{
  margin-top: 10px;
  width: 60%;
  height: 60%;
  color: black;
}

.iconoback{
  margin-top: 10px;
  width: 80%;
  height: 80%;
  color: black;
}
//--------------------------------------------------

ion-content {
  --background: var(--ion-color-secondary);
 //--background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
 --ion-safe-area-top: 100px;
 overflow-y: scroll !important;
}

.todo{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   // background-color: rgb(75, 116, 253);
}

.tituloavisos{
    font-size: 30px;
    display: flex;
    //background-color: blue;
    justify-content: center;
    color: black;
  }

.divform{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    //background-color: yellow;
}

.formulario{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    //align-self: center;
    //position: relative;
    //left: 10%;
    border-radius: 20px;
    color: black;
}

.label{
  width: 80%;
  height: 60px;
  max-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border:solid rgb(112, 51, 204) 1px;
  color: black;
}


.submit{
  margin-top: 40px;
    width: 150px;
    height: 120px; //100vh o 100vw wiewheight o viewwidth
    color: black;
    max-width: 300px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(112, 51, 204);
    border: 2px solid black;
    border-radius: 40px;
    box-shadow:5 5px black ;
  }
  
  .submit:active {
    background-color: #374d83  ;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }

  .avisos{
    font-size: 20px;
    display: flex;
    align-self: center;
    text-align: center;
    //background-color: blue;
    justify-content: center;
   // position: relative;
  //  left: 5%;
    width: 90%;
} 

.icono{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  color: black;
  opacity: 0.3;
}

.imagen_perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
