<ion-content>
  <div class="headercontainer">
    <div class="back">
      <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
    </div>
<div class="headertittle">

</div>
<!-- <div class="headericon">
   <ion-icon class="icono"  name="person-circle-outline" (click)="this.getLocation()"></ion-icon>
  </div> -->
</div>
  <div class="todo">
    <h1 style="text-align:center;" class="tituloavisos">Perfil</h1>
    <!-- <h2  class="avisos">Editar perfil</h2> -->
    <div class="divform">

      <div class="formulario" style="height: 150px;">
        <div class="imagen_perfil"> 
          <ion-icon class="icono" name="person-circle-outline" (click)="perfil()"></ion-icon>
     </div>
      </div>

        <div class="formulario">
            <ion-label class="label">{{this.nombre}}</ion-label>
            <!-- <ion-input type="text" id="tittle" placeholder="Ej: Junta Extraodinaria" [(ngModel)]="tittle"></ion-input> -->
        </div>
        <div class="formulario">
            <ion-label class="label">{{this.email}}</ion-label>
            <!-- <ion-input type="text" id="tema" required placeholder="Ej: Reunion del lunes" [(ngModel)]="tema"></ion-input> -->
        </div>
        <!-- <div class="formulario">
            <ion-label class="label">{{this.rol}}</ion-label>
        </div> -->
    </div>
    <!-- <button class="submit" (click)="upload_publication()" expand="block">Enviar</button> -->
  </div>
</ion-content>
