<ion-header class="header">
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
      </div>
  <div class="headertittle">
      Pago administración 
  </div>
  <!-- <div class="headericon">
     <ion-icon class="icono"  name="person-circle-outline" (click)="this.getLocation()"></ion-icon>
    </div> -->
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
    <!-- <div class="parrafo">
      <h1 class="parrafo__texto">Configurar cuenta en el link de pago</h1>
      <h1 class="parrafo__texto">copia y pega el link de pago de tu cuenta de PAYU</h1>
    </div> -->
    <iframe id="link" src=''class="iframe" scrolling="yes" ></iframe>
    <!-- <div class="mediosdepago">
      <ion-item class="link">
        <ion-label position="floating" >URL o Link de pago PayU</ion-label>
        
      </ion-item>
      <button class="guardar_link" (click)="guardar_link(link_pago)">Guardar</button>
      <button class="pse_boton" (click)="open_browser()">Probar</button>
    </div>
    <div class="mediosdepago">
      <label>Link de pago actual</label>
      <label><strong>{{ link_db }}</strong></label>
    </div>
  </div> -->
</div>
</ion-content>
