<ion-header class="header">
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
      </div>
  <div class="headertittle">
     Monitoreo
  </div>
  <!-- <div class="headericon">
     <ion-icon class="icono"  name="person-circle-outline" (click)="this.getLocation()"></ion-icon>
    </div> -->
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
    <iframe src="https://energymeter-2a2fb.web.app/home" class="iframe" scrolling="yes" ></iframe>
</div>
</ion-content>