<ion-header class="header">
    <div class="align-header">
          <ion-buttons class="size" slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
       <div id="cabeza">   
        <ion-title mode=ios class="tittle" >
          Verificación
        </ion-title>
      </div>
    </div>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <div class="parrafo">
    <br>
    <div class="texto">
      <p>Gracias por registrarte!</p>
    </div>
    <div class="texto">
      <p>-------------------------------</p>
    </div>
    <br>
  <div class="texto">
    <p>Te hemos enviado un correo de verificación a <strong>{{user.email}}</strong></p>
  </div>
  <br>
  <br>
  <div class="texto">
    <p>Revisa tu correo electronico para confirmar tu cuenta (Puede estar en spam)</p>
  </div>
  <br>
  </div>
  <div class="align"> 
  <ion-grid class="grid">
  <ion-row class="row">
  <ion-col class="column">
    <button type="submit" class="boton" (click)="sendemail()">
      Reenviar correo
    </button>
  </ion-col>
  <ion-col class="column">
    <button  class="boton" routerLink="/iniciosesion">
      Volver a inicio
    </button>
  </ion-col>
  </ion-row>
  </ion-grid>
</div>


</ion-content>