//HEADER-------------------------------------------------
ion-header{
  background-color: white;
  color: black;
  justify-items: center;
  align-items: center;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }


.headercontainer{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
 // background-color: chartreuse;
}



.back{
    width: 20%;
    height: 40px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertittle{
 //margin-top: 20px;
  width: 60%;
  height: 40px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
 // background-color: aqua;
  
}

.headericon{
  width: 20%;
  height: 60px;
  text-align: center;
  color: black;
}

.icono{
  margin-top: 10px;
  width: 60%;
  height: 60%;
  color: black;
}

.iconoback{
  margin-top: 10px;
  width: 80%;
  height: 80%;
  color: black;
}
//--------------------------------------------------

ion-content {
  --background: var(--ion-color-secundary);
 //--background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
 --ion-safe-area-top: 100px;
 overflow-y: scroll !important;
}

.todo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   // justify-content: center;
    align-items: center;
   // background-color: blue;
}

.crear_comunicado{
  width: 80%;
  height: auto;
  background-color:  rgba(229, 223, 236, 0.582);
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border: solid black 1px;
}

.texto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ver_comunicados{
  margin-top: 40px;
  width: 80%;
  height: auto;
  background-color:  rgba(175, 130, 226, 0.582);
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border: solid black 1px;

}



.tituloavisos{
    font-size: 30px;
    display: flex;
    //background-color: blue;
    justify-content: center;
  }

  .formulario{
    width: 80%;
    height: 70px;
    margin-top: 10px;
    align-self: center;
    position: relative;
    left: 10%;
    border-radius: 20px;
}

.formulariofinal{
    width: 80%;
    height: 200px;
    margin-top: 10px;
    align-self: center;
    position: relative;
    left: 10%;
    border-radius: 20px;
}

.divform{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: block;
    align-self: center;
    text-align: center;
    //background-color: yellow;
}

.submit{
  margin-bottom: 30px;
    width: 120px;
    height: 40px; //100vh o 100vw wiewheight o viewwidth
    color: white;
    max-width: 300px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgb(112, 51, 204);;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 5 5px black ;
  }
  
  .submit:active {
    background-color: #374d83  ;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }

  .avisos{
    font-size: 20px;
    display: flex;
    align-self: center;
    text-align: center;
    //background-color: blue;
    justify-content: center;
    position: relative;
    left: 5%;
    width: 90%;
} 

//--------------------------------------------------------------------

.grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.col{
   // background-color: burlywood;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    //height: 35vh;
    width: 100%;
    justify-content: center;
    //max-height: 250px;
    //width: 50%;
  //  max-width: 150px;
   // min-height: 220px;
  }
  
  .row{
    margin-top: 20px;
    width: 100%;
    //min-width: 300px;
  // background-color: tomato;
   display: flex;
   //justify-content: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    //flex-wrap:  wrap-reverse
    //height: 400px;
  }

.form{
  //background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 350px;
    height: auto;
    border: solid black 3px;
    border-radius: 10px;
    background-color: white;
}

.card_header{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;
}

.card_content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
 // border-bottom: 2px black solid;
}

.card_contents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
  //background-color: gray;
}

.card_item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.doc{
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;
  width: 98vw;
  max-width: 350px;
  height: 110px;
}

.todito{
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;
  width: 100%;
  height: 100px;
  border: solid 2px black;
  border-radius: 20px;
}

.titulos{
  //background-color: bisque;
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.tarjeta{
 // background-color: aqua;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trash{
  //background-color: brown;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.texto{
  width: 100%;
  height: 10%;
  font-size: 13px;
  align-self: center;
  text-align: center;
}

.label{
  //background-color: red;
  width: 100%;
  height: 100%;
  //font-size: 20px;
  color: black;
}

.icon{
  //color:black;
 // background-color: red;
  width: 40px;
  height: 70px;
  color: red
}

.trash_button{
 // background-color: blue;
  width: 40px;
  height: 40px;
  //width: 10%;
  //color: black;
  color: black;
}

.image{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imagen{
    width: 90%;
   // height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 50%;
}

.card-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: auto;
//  border: solid black 3px;
  //@debug: 10px;
 // background-color: white;
}

.descarga{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trash-icon{
  width: 30px;
  height: 30px;
  // position: relative;
  // top: 10%;
  // left: 95%;
}

.img-icon{
  width: 50px;
  height: 50px;
  // position: relative;
  // top: 10%;
  // left: 95%;
}


.top{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
 // background-color: rgb(114, 149, 202);
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
 // background-color: rgb(139, 202, 114);
}

.dia_hora{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 80%;
 // background-color: rgb(221, 161, 49);
}

.dia{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 2vw;
  //background-color: rgb(219, 68, 68);
}

.hora{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 2vw;
 // background-color: rgb(149, 202, 114);
}

 .tema{
   margin-left: 10px;
  display: flex;
  width: 100%;
  height: 15%;
 // background-color: rgb(205, 169, 50);
}
.reporte{
  margin-left: 10px;
  display: flex;
  width: 100%;
  height: 55%;
//  background-color: rgb(216, 53, 216);
}


//--------------------------------------------------------------------------------------------------------------