//HEADER-------------------------------------------------
ion-header{
    background-color: white;
    color: black;
    justify-items: center;
    align-items: center;
    color: black;
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
  
  
  .headercontainer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
   // background-color: yellow;
  }
  
  
  .back{
      width: 20%;
      height: 40px;   
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
  }
  
  .icono_mas{
    margin-top: 10px;
    width: 60%;
    height: 60%;
    color: black;
    opacity: 0.3;
  }
  
  .headertittle{
    //margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 60%;
    height: 100%;
    text-align: center;
    color: black;
   // background-color: yellow;
  }
  
  .headericon{
    width: 20%;
    height: 60px;
    text-align: center;
    color: black;
  }
  
  .icono{
    margin-top: 10px;
    width: 60%;
    height: 60%;
    color: black;
  }
  
  .iconoback{
    margin-top: 10px;
    width: 80%;
    height: 80%;
    color: black;
  }
  //--------------------------------------------------
  
  ion-content {
    --background: var(--ion-color-secondary);
   //--background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
   --ion-safe-area-top: 100px;
   overflow-y: scroll !important;
  }
  
  .todo{
    margin-top: 15px;
      width: 100%;
      height: 50%;
      //background-color: rgb(131, 172, 207);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .parrafo{
    //background-color: blanchedalmond;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  
  .parrafo__texto{
    text-align: center;
    font-size: clamp(15px, 2.5vw, 20px);
    color: black;
  }
  
  .grid{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100%;
    gap: 10px;
  }
  
  .col{
     // background-color: burlywood;
      display: flex;
      //justify-content: center;
     align-items: flex-start;
      flex-direction: column;
      //height: 35vh;
      width: 100%;
      //max-height: 250px;
      //width: 50%;
    //  max-width: 150px;
     // min-height: 220px;
    }
    
    .row{
      margin-top: 20px;
      width: 100%;
    // background-color: tomato;
     display: flex;
     //justify-content: center;
     align-items: flex-start;
     flex-direction: column;
      //flex-wrap:  wrap-reverse
      //height: 400px;
    }
  
    .add_icon{
      width: 80vw;
      max-width: 600px;
      height: 100px;
      background-color: #90b48e;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      border-radius: 20px;
      box-shadow: -8px 1px black;
  }
    
    .service_label{
        border: solid black 1px;
        width: 80vw;
        max-width: 600px;
        height: 100px;
        background-color: #C1CFC0;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: -8px 1px black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
  
    .derecha{
     // background-color: chocolate;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .izquierda{
    //  background-color: cornflowerblue;
      width: 50%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      text-align: left;
    }
   
    .service__service{
      font-size: clamp(10px, 7vw, 40px);
      color: black;
    //  text-align: left;
    }
  
    .service__days{
      width: 100%;
      font-size: clamp(12px, 2.5vw, 20px);
      color: black;
      text-align: center;
      display: flex;
      justify-content: start;
      align-items: center;
    }
  
  
    .sercice__onoff{
      width: 100%;
      font-size: clamp(10px, 2.5vw,  20px);
      display: flex;
      justify-content: center;
      align-items: center;
      //flex-direction: column;
      color: black;
      text-align: left;
    }
  
    .service__max{
      width: 100%;
      font-size: clamp(10px, 2.5vw,  20px);
      width: 100%;
     // background-color: chartreuse;
      display: flex;
      //justify-content: center;
      align-items: center;
      //flex-direction: column;
      color: black;
      text-align: left;
    }
  
    .slider{
      width: 100%;
      height: 500px;
     // background-color: linear-gradient(180deg, rgb(252, 252, 252), rgb(184, 184, 184), #ffffff);;
    }
    
    .slide{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      //background-color: rgba(255, 171, 93, 0.39);
      height: 340px;
      width: 80%;
    }
    
    //ion-slides{
    //background-color: #c5c5c59f;
      //--background: linear-gradient(180deg, rgb(252, 252, 252), rgb(122, 122, 122), #ffffff);
   // }
   ion-card-title{
      font-size: 22px;
   }
  
    ion-card{
      background-color: white;
      height: 110%;
      width: 80%;
      border: double black 1px;
      border-radius: 40%;
      box-shadow: -18px 15px rgb(153, 153, 153);
    }
  
    ion-card:active {
      background-color:  rgb(164, 120, 230); ;
      box-shadow: 0 5px #666;
      transform: translateY(15px);
      color: white;
    }
  
    ion-card-header{
      height: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    ion-card-content{
      height: 60%;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
    }
    
    .imagen{
      position: absolute;
      bottom: 5px;
      width: 100%;
      height: auto;
      opacity: 0.4;
    }
  
    .mis_reservas{
      width: 80px;
      height: 40px;
      background-color: var(--ion-color-primary);
      border-radius: 30%;
      border: solid black 1px;
    }


    .ver_comunicados{
        margin-top: 40px;
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 30px;
       // border: solid black 1px;
      }


      .grid{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
      }
      
      .col{
         // background-color: burlywood;
          display: flex;
          //justify-content: center;
          align-items: center;
          flex-direction: column;
          //height: 35vh;
          width: 100%;
          justify-content: center;
          //max-height: 250px;
          //width: 50%;
        //  max-width: 150px;
         // min-height: 220px;
        }
        
        .row{
          margin-top: 20px;
          width: 100%;
          min-width: 210px;
        // background-color: tomato;
         display: flex;
         //justify-content: center;
         align-items: center;
         justify-content: center;
         flex-direction: column;
          //flex-wrap:  wrap-reverse
          //height: 400px;
        }
      
      .card{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: 80px;
          border: solid black 3px;
          border-radius: 10px;
          background-color: white;
      }
      
      .titulo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        height: 100%;
       // background-color: rgb(139, 202, 114);
      }

      .icon{
        //margin-top: 20px;
        width: 60px;
      //  min-width: 30px;
        height: 60px;
       // min-height: 30px;
      }
    
  