<ion-header class="header">
  <ion-toolbar>
 <div class="headercontainer">
    <div class="back">
      <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
    </div>
    <div class="headertittle">
      <ion-title > Documentos </ion-title>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 

<div class="todo">
  <!-- <ion-card class="card">
    <ion-card-header class="card_header">
      <ion-card-subtitle>Agregar Documentos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card_content">
      <form class="form" (submit)="addTodo()">
        <ion-item class="card_item">
          <ion-label class="card_content" position="stacked">Nombre del Documento</ion-label>
          <ion-input class="card_content" name="todo" id="name" [(ngModel)]="newTodo" placeholder="Ej: Carta bienvenida"></ion-input>
        </ion-item>
        <ion-item class="card_item" lines="none">
          <input type="file" name="inputFile" (change)="chooseFile($event)" required>
        </ion-item>
        <div class="card_content">
        <ion-button type="submit">Agregar</ion-button>
        </div>
      </form>
    </ion-card-content>

  </ion-card> -->

  <ion-list>
    <div class="doc" *ngFor="let item of items | async" lines="none">
      <div class="inner">
      <ion-icon class="doc_icon" name="document-attach-outline"></ion-icon>
      <ion-label>{{ item.title }}</ion-label>
      <!-- <ion-thumbnail (click)="modal_info(item.imageUrl)" class="image" slot="start" *ngIf="item.imageUrl">
        <img [src]="item.imageUrl" alt="">
      </ion-thumbnail> -->
      <div class="buttons">
      <!-- <ion-button slot="end" fill="clear" (click)="remove(item)"> -->
        <ion-icon class="download_icon" color="primary" name="cloud-download-outline" (click)="downloadAndOpenPdf(item.imageUrl)"></ion-icon>
      <!-- </ion-button> -->
      <!-- <ion-button slot="end" fill="clear" color="danger" (click)="remove(item)"> -->
        <!-- <ion-icon class="trash_icon" slot="icon-only" color="danger" name="trash" (click)="remove(item)"></ion-icon> -->
      <!-- </ion-button> -->
    </div>
      </div>
    </div>
  </ion-list>
</div>
</ion-content>
