<ion-header class="header">
  <ion-toolbar>
      <div class="headercontainer">
        <div class="back">
          <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
        </div>
        <div class="headertittle">
          Reservas
        </div>
        <!-- <div class="headericon">
          <ion-icon class="icono_mas" name="add-outline" (click)="this.elegir_servicio(servicio)"></ion-icon>
        </div> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<img class="imagen" src="../../../assets/images/reservas.png" alt="">
<div class="todo">

  <!-- <div class="parrafo">
    <h1 class="parrafo__texto">Historial de reservas</h1>
    <h2 class="parrafo__texto">Ingresa para reservar</h2>
    <button class="mis_reservas">Mis Reservas</button>
  </div> -->

  <div class="parrafo">
    <h1 class="parrafo__texto">Estos son los servicios con los que cuenta el edificio</h1>
    <h2 class="parrafo__texto">Ingresa para reservar</h2>
  </div>
  <!-- <div class="add_icon" (click)="this.elegir_servicio(servicio)"><ion-icon name="add-circle-outline" style="zoom:3.0;"></ion-icon></div> -->

  <div class="slider">
    <ion-slides [options]="option" #slideWithNav pager="true">
      <ion-slide class="slide" *ngFor="let servicio of lista_servicio">
        <button class="mis_reservas" (click)="mis_reservas_modal(servicio.id)">Mis Reservas</button>
        <ion-card (click)="save_for_calendar(servicio)">
          <ion-card-header>
            <ion-card-subtitle>Servicio</ion-card-subtitle>
            <ion-card-title>{{servicio.id}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="service__days"> 
              Apertura: {{ servicio.data.horainicial }}:00 <br>
              Cierre: {{ servicio.data.horafinal }}:00 <br>
              Horas no disponibles: {{ servicio.data.hora_restringida }}
           </div>
           <!-- <div class="service__max"> - {{servicio.data.horareserva}} Hora por reserva </div> -->
             <div class="service__days">
               Dias:    
               <label class="service__days" *ngIf="servicio.data.lunes==true" > Lun </label>
               <label class="service__days" *ngIf="servicio.data.martes==true" > Mar </label>
               <label class="service__days" *ngIf="servicio.data.miercoles==true" > Mier </label>
               <label class="service__days" *ngIf="servicio.data.jueves==true" > Juev </label>
               <label class="service__days" *ngIf="servicio.data.viernes==true" > Vier </label>
               <label class="service__days" *ngIf="servicio.data.sabado==true" > Sab </label>
               <label class="service__days" *ngIf="servicio.data.domingo==true" > Dom </label>  
             </div>
             <!-- <div class="service__days">Horas bloqueadas:   
              <label> {{  servicio.data.hora_restringida  }}</label> 
            </div> -->
          </ion-card-content>
        </ion-card>
       </ion-slide>
   </ion-slides>
 </div>

  <!-- <ion-grid class="grid">
    <ion-col class="col">
      <ion-row class="row" *ngFor="let servicio of lista_servicio" >
          <div class="service_label" (click)="save_for_calendar(servicio)">
            <div class="derecha">  
                <div class="service__service"><strong>{{ servicio.id }}</strong>  </div>
            </div>
            <div class="izquierda">  
                <div class="sercice__onoff"> 
                   - De {{ servicio.data.horainicial }} AM a {{ servicio.data.horafinal }} PM
                </div>
                <div class="service__max"> - {{servicio.data.horareserva}} Hora por reserva </div>
                <div class="service__days">- Disponible 
                  <label *ngIf="servicio.data.lunes==true" > Lun </label>
                  <label *ngIf="servicio.data.martes==true" > Mar </label>
                  <label *ngIf="servicio.data.miercoles==true" > Mier </label>
                  <label *ngIf="servicio.data.jueves==true" > Juev </label>
                  <label *ngIf="servicio.data.viernes==true" > Vier </label>
                  <label *ngIf="servicio.data.sabado==true" > Sab </label>
                  <label *ngIf="servicio.data.domingo==true" > Dom </label>  
                </div>
            </div>
         </div>
      </ion-row>
    </ion-col>
  </ion-grid> -->
</div>
</ion-content>
