<ion-header class="header">
  <ion-toolbar>
  <div class="headercontainer">
        <div class="back">
          <ion-icon name="business-outline" class="iconoback" (click)="dismiss()"></ion-icon>
        </div>
    <div class="headertittle">
      <ion-title ></ion-title>
    </div>
    <div class="headericon">
    </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <div class="todo">
<div class="parrafo" *ngIf='this.show_services'>
<h1 class="parrafo__texto">¡Bienvenido a {{this.proyecto}}!</h1>
<h1 class="parrafo__texto">Estos son los servicios disponibles</h1>
</div> -->


<ion-content padding>
  <img class="imagen" src="../../assets/images/security.png" alt="">
  <div class="todo">
    <div class="parrafo_borrado" *ngIf='this.show'>
      <div class="delete_parraf">Parece que tu administrador elimino el negocio, eliminalo tu tambien de tu lista
      <button class="delete_button" (click)="delete(this.proyecto)">Eliminar de mi lista</button></div>
    </div>
    <div class="grid" *ngIf='this.show_services'>
  <div class="parrafo">
  <h1 class="parrafo__texto">Bienvenid@ {{this.nombre}} </h1>
  <h1 class="parrafo__texto">A continuación encontrarás los servicios que ofrece <strong> {{this.proyecto}} </strong> </h1>
  </div>
</div>

<!-- <div class="slider">
  <ion-slides [options]="option" #slideWithNav pager="true">
    <ion-slide  class="slide" *ngFor="let servicio of servicios">
      <ion-card *ngIf="servicio.habilitado==true" (click)="this.elegir_servicio(servicio.nombre)">
        <ion-card-header>
          <ion-card-subtitle>Servicios</ion-card-subtitle>
          <ion-card-title>{{servicio.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon class="icon" [name]='servicio.icon'></ion-icon>
          <h1 class="descripcion">{{servicio.descripcion}} {{this.proyecto}}</h1>
        </ion-card-content>
      </ion-card>
     </ion-slide>
  </ion-slides>
  </div> -->

  <div class="position-keypad">
    <div class="align-center" >
        <ion-grid class="grid" >
          <ion-row class="row" >
              <div class="col" *ngFor="let servicio of servicios">
                <ion-card *ngIf="servicio.habilitado==true" (click)="this.elegir_servicio(servicio.nombre)">
                  <ion-card-header>
                    <!-- <ion-card-subtitle>Servicios</ion-card-subtitle> -->
                    <ion-card-title>{{servicio.nombre}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-icon class="icon" [name]='servicio.icon'></ion-icon>
                    <h1 class="descripcion">{{servicio.descripcion}}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
          </ion-row>
        </ion-grid>
      </div>
</div>

  <!-- <ion-grid class="grid" *ngIf='this.show_services' >
    <ion-row class="row" *ngFor="let servicio of servicios" >
      <ion-col class="col" *ngIf="servicio.habilitado==true">
        <button class="boton_servicios" (click)="this.elegir_servicio('servicio.nombre')">
          {{servicio.nombre}}
          <ion-icon class="icon" name="servicio.icon"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  </div>
</ion-content>
  
<!-- 
<ion-content padding>
<div class="parrafo_borrado" *ngIf='this.show'>
  <div class="delete_parraf">Parece que tu administrador elimino el negocio, eliminalo tu tambien de tu lista
  <button class="delete_button" (click)="delete(this.proyecto)">Eliminar de mi lista</button></div>
</div>

<div class="grid" *ngIf='this.show_services' >
  <div class="row">
 
    <div class="columna" *ngIf="reservas==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('reservas')"> Reservas <ion-icon class="icon" name="calendar-outline"></ion-icon></button>
    </div>
    <div class="columna" *ngIf="pagos==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('pagos')"> Pagos <ion-icon class="icon" name="cash-outline"></ion-icon></button>
    </div>
    <div class="columna" *ngIf="comunicados==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('comunicados')"> Comunicados <ion-icon class="icon" name="newspaper-outline"></ion-icon></button>
    </div>
  </div>
  <div class="row" >
    <div class="columna" *ngIf="documentos==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('documentos')"> Documentos<ion-icon class="icon" name="document-attach-outline"></ion-icon> </button>
    </div>
    <div class="columna" *ngIf="mascotas==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('mascotas')"> Ingreso mascotas <ion-icon class="icon" name="paw-outline"></ion-icon></button>
    </div>
    <div class="columna" *ngIf="monitoreo==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('monitoreo')"> Monitoreo <ion-icon class="icon" name="business-outline"></ion-icon></button>
    </div>
  </div>
  <div class="row" >
    <div class="columna" *ngIf="seguridad==true">
      <button class="boton_servicios"  (click)="this.elegir_servicio('seguridad')"> Seguridad <ion-icon class="icon" name="shield-half-outline"></ion-icon></button>
    </div>
  </div>
</div>

</div>
</ion-content> -->
