<ion-header>
  <ion-toolbar>
      <div class="headercontainer">
      <div class="back">
        <div class="back">
          <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
        </div>
      </div>
      <div class="headertittle">
        <ion-title >Registrate</ion-title>
      </div>
      <div class="headericon">
        </div>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <form>
      <div class="div_email">
      <ion-item class="email" mode='ios' lines="none">
        <ion-label position="floating">Nombre y Apellido</ion-label>
        <ion-input id="nombre" [(ngModel)]="name" type="text" #nombre required></ion-input>
      </ion-item>
      </div>
    <div class="div_email">
      <ion-item class="email" mode='ios' lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input id="email" [(ngModel)]="mail" type="text" #email required></ion-input>
      </ion-item>
    </div>
      <div class="div_email" >
        <ion-item class="email" mode='ios' lines="none">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input id="contra" [(ngModel)]="cont" type="password" #password required></ion-input>
        </ion-item>
      </div>
      <div class="div_email">
        <ion-item class="email" mode='ios' lines="none">
          <ion-label position="floating">Verificar contraseña</ion-label>
          <ion-input id="contra_rep" [(ngModel)]="cont_rep" type="password" #password_double required></ion-input>
        </ion-item>
      </div>
      <div class="div_login">
    <ion-row>
      <ion-col>
        <button type="submit" class="submit" (click)="onRegister(email,password,nombre)">
          Registrame
        </button>
      </ion-col>
    </ion-row>
</div>
  </form>
<div class="div_account">
  <p>
    <a (click)="inicio()">Ya tengo una cuenta</a>
  </p>
</div>
</ion-content>